<html>
    <head>
    <title>wufd's blog</title>
    </head>

    <body>
        <div>
            <h1><a href="">WuFD Blog</a></h1>
        </div>

        <div style="margin-top: 50px;">
            {% for post in posts %}
                <div>
                    <h1><a href="">{{ post.title }}</a></h1>
                    <p>发布时间: {{ post.published_date }}</p>
                    <p>{{ post.text|linebreaksbr }}</p>
                </div>
            {% endfor %}
        </div>

    </body>
</html>